@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  body {
    overflow: hidden;
  }
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 8vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Poppins', sans-serif;
  background-color: #58f8f8;
}

nav .logo {
  color: #242424;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
  margin: 20px;
}

nav .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 40%;
  margin: 20px 35px;
}

nav .nav-links li {
  list-style: none;
  border: 1px solid black;
  padding: 10px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

@media screen and (max-width: 768px) {
  nav .nav-links li {
    border: none;
    opacity: 0;
  }
}

nav .nav-links li:hover {
  -webkit-box-shadow: -2px 2px;
          box-shadow: -2px 2px;
  -webkit-transform: translate(2px, -2px);
          transform: translate(2px, -2px);
}

@media screen and (max-width: 768px) {
  nav .nav-links li:hover {
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-transform: none;
            transform: none;
  }
}

nav .nav-links a {
  color: #000000;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 14px;
}

@media screen and (max-width: 1400px) {
  nav .nav-links {
    width: 50%;
  }
}

@media screen and (max-width: 1024px) {
  nav .nav-links {
    width: 70%;
  }
}

@media screen and (max-width: 768px) {
  nav .nav-links {
    position: absolute;
    right: 0;
    height: 92vh;
    top: 9.5vh;
    margin: 20px 0;
    background-color: #79ffff;
    width: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.5s ease;
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  }
}

@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

nav .burger {
  margin: 30px;
  cursor: pointer;
}

nav .burger div {
  width: 30px;
  height: 4px;
  background-color: #8b8b8b;
  margin: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media screen and (min-width: 768px) {
  nav .burger {
    display: none;
  }
}

nav .nav-active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.toggle .line1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
          transform: rotate(-45deg) translate(-6px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  -webkit-transform: rotate(45deg) translate(-6px, -6px);
          transform: rotate(45deg) translate(-6px, -6px);
}
